@font-face {
  font-family: PT;
  src: url("../fonts/PTS55F.ttf"); }

@font-face {
  font-family: PT;
  font-style: italic;
  src: url("../fonts/PTS56F.ttf"); }

@font-face {
  font-family: PT;
  font-weight: bold;
  src: url("../fonts/PTS75F.ttf"); }

@font-face {
  font-family: PT;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/PTS76F.ttf"); }

.page-width {
  min-width: 1024px; }

.placeholder {
  color: #5b5754; }

.text-center {
  text-align: center; }

.block-center {
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.wrapper {
  position: relative; }

.hide {
  display: none; }

body {
  background: #242020;
  color: #fff7ef;
  font-family: Arial, sans-serif; }

button, input[type=submit] {
  font-family: Arial, sans-serif; }

.carousel-main-container {
  width: 806px;
  padding: 60px 0; }
  .carousel-main-container > .slides-container {
    height: 539px;
    overflow: hidden;
    position: relative;
    z-index: 1; }
    .carousel-main-container > .slides-container > .slides-wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
      left: 0;
      -webkit-transition: left 0.5s, -webkit-transform 0.5s;
      transition: left 0.5s, -webkit-transform 0.5s;
      transition: transform 0.5s, left 0.5s;
      transition: transform 0.5s, left 0.5s, -webkit-transform 0.5s; }
    .carousel-main-container > .slides-container .slide {
      float: left; }
    .carousel-main-container > .slides-container img {
      display: block;
      margin: 0;
      padding: 0; }
  .carousel-main-container > .pagination-container {
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center; }
    .carousel-main-container > .pagination-container > .pagination-bullet {
      height: 20px;
      width: 20px;
      background: #928c88;
      behavior: url("./PIE.htc");
      -webkit-border-radius: 20px;
              border-radius: 20px;
      border: none;
      cursor: pointer; }
      .carousel-main-container > .pagination-container > .pagination-bullet.active {
        background: #fff7ef; }
      .carousel-main-container > .pagination-container > .pagination-bullet + .pagination-bullet {
        margin-left: 8px; }
  .carousel-main-container .carousel-control {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 270px;
    behavior: url("./PIE.htc");
    -webkit-border-radius: 100%;
            border-radius: 100%;
    border: none;
    background: #928c88;
    font-family: PT, sans-serif;
    font-size: 35px;
    cursor: pointer; }
    .carousel-main-container .carousel-control:hover {
      background: #fff7ef; }
    .carousel-main-container .carousel-control.carousel-next {
      right: -35px;
      text-align: right;
      padding-right: 12px; }
    .carousel-main-container .carousel-control.carousel-prev {
      left: -35px;
      text-align: left;
      padding-left: 12px; }

.form-header {
  display: block;
  padding: 35px 0;
  margin-bottom: 60px;
  background-color: #f78f20;
  background: -webkit-gradient(linear, left bottom, left top, from(#804b13), color-stop(5%, #f78f20), color-stop(95%, #f78f20), to(#804b13));
  background: -webkit-linear-gradient(bottom, #804b13 0%, #f78f20 5%, #f78f20 95%, #804b13 100%);
  background: linear-gradient(to top, #804b13 0%, #f78f20 5%, #f78f20 95%, #804b13 100%);
  font-size: 40px;
  line-height: 40px;
  font-family: PT, sans-serif; }
  .form-header > .h3 {
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px; }

.contact-form {
  width: 770px;
  background: #312d2c;
  padding: 40px;
  padding-bottom: 305px;
  behavior: url("./PIE.htc");
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden; }

.form-group {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300; }

.label-wrapper, .input-wrapper {
  float: left; }

.label-wrapper {
  width: 31%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
  padding-left: 25px; }

.input-wrapper {
  width: 68%;
  position: relative; }
  .input-wrapper > .form-input {
    padding: 10px 20px;
    background: #3d3937;
    color: #fff7ef;
    border: 1px solid #3d3937;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 100%;
    behavior: url("./PIE.htc");
    -webkit-border-radius: 10px;
            border-radius: 10px;
    resize: none;
    overflow: hidden; }
    .input-wrapper > .form-input + .placeholder {
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 1;
      color: #5b5754; }
    .input-wrapper > .form-input:focus + .placeholder {
      display: none; }
    .input-wrapper > .form-input.invalid {
      border-color: red; }
    .input-wrapper > .form-input > select {
      padding: 10px 20px;
      background: #3d3937;
      color: #fff7ef;
      border: 1px solid #3d3937;
      display: block;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      width: 120%;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
    .input-wrapper > .form-input.input-select {
      padding: 0; }
      .input-wrapper > .form-input.input-select::after {
        content: ' ';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        top: 45%;
        right: 20px;
        border-top: 8px solid #1d1b1a;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent; }
  .input-wrapper > textarea {
    height: 150px; }

.form-submit {
  position: absolute;
  right: -72px;
  bottom: -60px;
  display: block;
  height: 195px;
  width: 200px;
  text-transform: uppercase;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 -2px 4px 0 #000;
          box-shadow: 0 -2px 4px 0 #000;
  text-align: left;
  font-size: 24px;
  color: #fff7ef;
  background: #4b4b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#312f2f));
  background: -webkit-linear-gradient(top, #4b4b4b 0%, #312f2f 100%);
  background: linear-gradient(to bottom, #4b4b4b 0%, #312f2f 100%); }
  .form-submit > span {
    position: absolute;
    left: 30%;
    top: 30%; }

/*# sourceMappingURL=main.css.map */
