@import "./fonts";
@import "./variables";
@import "./utils";

body {
  background: $backgroundColor;
  color: $colorLight;
  font-family: $defaultFont;
  position: relative;
}

button, input[type=submit] {
  font-family: $defaultFont;
}

.header {
  background: $colorWhite;
  color: $backgroundColor;

  & > .wrapper {
    padding: 25px 0 30px;
    width: 925px;

    & > .logo {
      float: left;
    }

    & > h1 {
      font-family: $headerFont;
      font-size: $headerSize;
      font-weight: 300;
      float: right;
      margin: 0;
      line-height: 50px;
    }
  }
}

.main-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.carousel-main-container {
    width: 806px;
    padding: 30px 0 60px;

  & > .slides-container {
    height: 539px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    & > .slides-wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
      left: 0;
      transition: transform 0.5s, left 0.5s;
    }

    .slide {
      float: left;
    }

    img {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  & > .pagination-container {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center;

    & > .pagination-bullet {
      height: 20px;
      width: 20px;
      background: $colorDisabled;
      @include border-radius(20px);
      border: none;
      cursor: pointer;
      transition-duration: 0.5s;
      box-sizing: border-box;
      padding: 0;

      &.active, &:hover {
        background: $colorLight;
        transition: ease;
      }

      &:hover {
        box-shadow: 0 0 12px 0 $colorLight;
      }

      & + .pagination-bullet {
        margin-left: 8px;
      }
    }
  }

  .carousel-control {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 240px;
    @include border-radius(100%);
    border: none;
    background: $colorDisabled;
    font-family: $headerFont;
    font-size: 35px;
    cursor: pointer;
    transition: 1s;

    &:hover {
      background: $colorLight;
      transition: ease;
    }

    &.carousel-next {
      right: -35px;
      text-align: right;
      padding-right: 12px;
    }

    &.carousel-prev {
      left: -35px;
      text-align: left;
      padding-left: 12px;
    }
  }
}

// form

.form-header {
  display: block;
  padding: 30px 0;
  margin-bottom: 60px;
  background-color: $colorAccent;
  background: linear-gradient(to top, $colorAccentDark 0%, $colorAccent 5%, $colorAccent 95%,$colorAccentDark 100%);

  line-height: $headerSize;
  font-family: $headerFont;

  & > .h3 {
    font-size: $headerSize;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px;
  }
}

.contact-form {
  width: $formWidth;
  background: $secondaryBackgroundColor;
  padding: 40px;
  padding-bottom: 305px;
  @include border-radius(10px);
  overflow: hidden;
}

.form-group {
  margin-bottom: 25px;
  font-size: $fontSize;
  font-weight: 300;
}

.label-wrapper, .input-wrapper {
  float: left;
}

.label-wrapper {
  width: 31%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 25px;
}

.input-wrapper {
  width: 68%;
  position: relative;
  border: 1px solid $inputBorderColor;
  @include border-radius(10px);
  overflow: hidden;

  @mixin input-style () {
    padding: 10px 20px;
    background: $inputBackgroundColor;
    color: $colorLight;
    border: none;
    display: block;
    box-sizing: border-box;
  }

  &.invalid {
    border: 1px solid red;
  }

  &.has-value > .placeholder{
    display: none;
  }

  & > .form-input {
    @include input-style();
    position: relative;
    width: 100%;
    resize: none;

    & + .placeholder {
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 1;
      color: $placeholderColor;
    }

    &:focus + .placeholder {
      display: none;
    }

    & > select {
      @include input-style();

      width: 120%;
      appearance: none;
    }

    &.input-select {
      padding: 0;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        top: 45%;
        right: 20px;
        border-top: 8px solid $selectBulletColor;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
  }

  & > textarea {
    height: 150px;
  }
} // input-wrapper

.submit-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 140px;
  width: 140px;
  overflow: hidden;
}

.form-submit {
  position: absolute;
  display: block;
  height: 195px;
  width: 200px;
  padding: 0;
  text-transform: uppercase;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: left;
  font-size: $fontSize;
  color: $colorLight;
  background: $submitColorFrom;
  background: linear-gradient(to bottom, $submitColorFrom 0%, $submitColorTo 100%);
  cursor: pointer;
  z-index: 2;

  & > span {
    position: absolute;
    left: 30%;
    top: 35%;
  }
}

// social

.social-container {
  position: absolute;
  right: -10px;
  top: 75px;

  & > .social {
    float: right;
    clear: right;
    display: block;
    transform: rotate(-15deg);
    transition-duration: 0.5s;

    &:hover, &:focus {
      transform: rotate(0);
      transition: ease;
    }

    & + .social {
      position: relative;
      left: 5px;
      top: -5px;
    }
  }
}

// navigation

.nav {
  position: absolute;
  right: 0;
  bottom: 0;

  & > button {
    width: 130px;
    height: 135px;
    padding: 0;
    border-radius: 100% 0 0 0;
    border: none;
    background: $inputBackgroundColor;
    box-shadow: 0 -2px 5px 0 #000;
    overflow: hidden;
    cursor: pointer;

    & > img {
      position: absolute;
      left: 35%;
      bottom: 0;
    }
  }
}