@font-face {
  font-family: PT;
  src: url("../fonts/PTS55F.ttf"); }

@font-face {
  font-family: PT;
  font-style: italic;
  src: url("../fonts/PTS56F.ttf"); }

@font-face {
  font-family: PT;
  font-weight: bold;
  src: url("../fonts/PTS75F.ttf"); }

@font-face {
  font-family: PT;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/PTS76F.ttf"); }

.page-width {
  width: 1024px; }

.placeholder {
  color: #5b5754; }

.text-center {
  text-align: center; }

.block-center {
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

body {
  background: #242020;
  color: #fff7ef;
  font-family: Arial, sans-serif; }

.carousel-container {
  margin: 60px auto;
  overflow: hidden;
  height: 539px;
  width: 806px;
  padding-bottom: 60px; }
  .carousel-container > .carousel-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 0.5s; }
  .carousel-container .slide {
    float: left; }
  .carousel-container img {
    display: block;
    margin: 0;
    padding: 0; }
  .carousel-container > .pagination-container {
    text-align: center;
    padding-top: 12px; }
    .carousel-container > .pagination-container > .pagination-bullet {
      height: 20px;
      width: 20px;
      background: #928c88;
      behavior: 'PIE.htc';
      border-radius: 20px;
      border: none; }
      .carousel-container > .pagination-container > .pagination-bullet.active {
        background: #fff7ef; }
      .carousel-container > .pagination-container > .pagination-bullet + .pagination-bullet {
        margin-left: 8px; }

.form-header {
  padding: 40px 0;
  background-color: #f78f20;
  background: linear-gradient(to top, #804b13 0%, #f78f20 5%, #f78f20 95%, #804b13 100%);
  font-size: 40px;
  font-family: PT, sans-serif; }
  .form-header > .h3 {
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px; }
