$defaultFont: Arial, sans-serif;
$headerFont: PT, sans-serif;

$minWidth: 1024px;
$carouselWidth: 806px;
$formWidth: 770px;

$fontSize: 24px;
$headerSize: 40px;

$backgroundColor: #242020;
$secondaryBackgroundColor: #312d2c;
$inputBackgroundColor: #3d3937;

$colorLight: #fff7ef;
$colorWhite: #fff;
$colorDisabled: #928c88;
$placeholderColor: #5b5754;
$colorAccent: #f78f20;
$colorAccentDark: #804b13;
$selectBulletColor: #1d1b1a;
$inputBorderColor: #2e2a29;

$submitColorFrom: #4b4b4b;
$submitColorTo: #312f2f;