$defaultFont: Arial, sans;
$headerFont: PT, sans;
$minWidth: 1024px;

$fontSize: 24px;
$headerSize: 48px;

$backgroundColor: #242020;
$colorLight: #fff7ef;
$colorWhite: #fff;
$colorDisabled: #928c88;
$backgroundSecondary: #312d2c;
$colorInput: #3d3937;
$placeholderColor: #5b5754;
$colorAccent: #f78f20;
$colorAccentDark: #804b13;